body {
  min-width: 320px;
  max-width: 385px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(226, 226, 236);
  margin: auto;
}

.header {
  background-image: url(../images/image-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: rgb(66, 66, 119);
  height: 250px;
  margin-bottom: 36px;
}

.section-text {
  font-size: 25px;
  font-style: italic;
  text-align: center;
  color: navy;
}
.section-number {
  font-size: 150px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  color: green;
  margin: auto;
}

.main-list {
  list-style: none;
  margin-top: 24px;
  margin-bottom: 24px;
}
.main-list-te {
  font-size: 23px;
  color: green;
}

.main-list-tex {
  font-size: 23px;
  color: red;
  text-align: end;
  margin-right: 36px;
}

.main-list-text {
  font-size: 23px;
  color: blueviolet;
}

.main-text {
  font-size: 20px;
  text-align: center;
  text-shadow: 5px 5px 5px gray;
  margin-right: 24px;
}

.text {
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}
.section-main-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.img {
  list-style: none;
}

.section-main-img {
  justify-content: center;
}
.section-main-text {
  font-size: 35px;
  text-align: center;
  color: rgb(176, 36, 183);
}

.footer {
  list-style: none;
  background: url(../images/image-footer.jpg);
  height: 120px;
}

.text-footer {
  font-size: 33px;
  text-align: center;
  color: rgb(66, 23, 106);
}

.footer-text {
  font-size: 20px;
  text-align: end;
  margin-right: 24px;
}
